html {
    background-image: url("img/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
}

body {
    color: white;
}

label {
    /* border: 5px solid red; */
    display: inline-block;
    width: 130px;
    margin: 5px;
}

input {
    /* border: 5px solid red; */
    width: 80px;
    border-radius: 5px;
    border: 1px solid silver;
    text-align: center;
}

.main-ctnr-attr {
    /* border: 5px solid red; */
    width: max-content;
    background-color:rgba(0,0,0,0.7);
    border-radius: 5px;
    box-shadow: 0 0 15px 5px black;
}

.sub-ctnr-attr {
    /* border: 5px solid red; */
    width: max-content;
    margin: auto;
}

.dmg-calc-ctnr {
    width: 100%;
}

.second-column-ctnr {
    margin-left: 20px;
}

.char-ctnr, .second-column-ctnr {
    float: left;
}

.img-ctnr {
    /* border: 5px solid red; */
    text-align: center;
}

#char-icon-list { 
    position: absolute;
    left: 0;
    margin-top: 7px;
    margin-left: 7px;
}

.calculate-btn-ctnr {
    /* border: 5px solid red; */
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.saved-ctnr {
    margin-top: 10px;
}

.save, .load, .delete {
    margin-top: 5px;
}

.char-icon, .enemy-icon {
    width: 60%;
}

/* .delete {
    margin-left: 10px;
} */

.center {
    /* border: 5px solid red; */
    width: max-content;
    display: flex; /*so height is the same as tallest content */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* resouces used */
/* https://css-tricks.com/almanac/properties/b/box-shadow/ */
/* https://www.hongkiat.com/blog/css-margin-auto/ */
/* https://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically */
/* http://web.simmons.edu/~grabiner/comm244/weekfour/document-tree.html#:~:text=Ancestor,other%20elements%20on%20the%20page.
https://www.w3schools.com/cssref/pr_pos_left.php */
/* https://www.w3schools.com/css/css_positioning.asp#:~:text=An%20element%20with%20position%3A%20absolute,moves%20along%20with%20page%20scrolling. */